body{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 20px
}

#main-content{
    background: rgb(0, 0, 0);
    width: 700px;
    height: 600px;
    margin-left: 300px;
    margin-top: 50px;
}

.main-game{
    padding-bottom: 50px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    width: 600px;
    margin-left: 50;
    background: black;
    margin-top: 60px;
    height: 400px;

}
#keyStart{
    position: relative;
    text-align: left;
    left: 330;
    top: 20;
}

#numberofWins{
    position: relative;
    left: 425;
    top: 20;
}

#wordtoGuess{
    position: relative;
    left: 380px;
    top: 20px;
}
#guessesRemaining{
    position: relative;
    left: 425px;
    top: 20px;

}

#user-guessed{    
    position: relative;
    left: 390px;
    top: 20px;
}

img{    
    position: relative;
    top: -280;
    left: 20;
    width: 250;
}
.answer{
    font-size: large;
    position: relative;
    left: 290px;
    top: 40px;


}